$white: #fff;
$primary: #b09774;
$hoverprimary: #836d4f;
$secondary: #333;
$hoversecondary: rgb(106, 106, 106);
$third: #a0a0a0;
$gray: #797979;
$mute: #888;
$red: rgb(255, 92, 132);
$gray-light: #ebebeb;

.remove-button {
  margin-left: 20px;
  color: $secondary;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
  &:hover {
    color: $red;
  }
}

button {
  outline: none;
  border: none;
}

.primary-button {
  background-color: $primary;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: $white;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  padding: 0 15px 0 15px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
  border-radius: 2px;

  &:hover {
    background-color: $hoverprimary;
    color: $white;
  }
}

.secondary-button {
  background-color: $third;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: $white;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  padding: 0 15px 0 15px;
  text-decoration: none;
  font-family: "Crimson Text", serif;
  border-radius: 2px;

  &:hover {
    background-color: $hoversecondary;
  }
}

.proceed-button {
  background-color: $primary;
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.466667;
  color: $white;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  margin: 0 8px 10px 0;
  padding: 0 15px 0 15px;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    background-color: $hoverprimary;
    color: $white;
  }
}

.button-small {
  min-width: 179px;
  height: 45px;
}
.button-big {
  width: 100%;
  height: 45px;
}

button:disabled,
button.disabled,
button[disabled] {
  pointer-events: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: hsl(0, 0%, 40%);
}
